<style>
    .fondo{
        filter:blur(10px);
    }
    .login{
        margin:0 auto;
        background-color: #f2f2f2;
        width:400px;
        height:160px;
        padding:25px;
        border-radius:10px;
    }
    .jesus{
        
    }
    .textfield_03{
        display:block;
        margin:0 auto;
        margin-bottom: 20px;
        height: 23px;
        padding: 5px;
        width:300px;
        max-width: 500px;
        border:solid 1px #d2d2d2;
        background-color: #f8f8f8;
    }
    .boton_login{
        display:block;
        margin:18px auto;
        width:200px;
        height:40px;
        border: solid 2px #607d8b;
        border-radius: 5px;
        background-color: #ffffff;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 16px;
        color: #607d8b;
        font-weight: 700;
        outline: 0;
        cursor:pointer;
    }
    .resp_bot{
        box-sizing: border-box;
        margin:0;
        width:50%;
        height:60px;
        border-bottom: solid 3px #607d8b;
        float: right;
        display:table;
        cursor: pointer;
    }
    .resp_bot.active{
        background-color: #607d8b;
        border: none;
    }
    .resp_bot p{
        color:#607d8b;
        font-size: 25px;
        font-family: 'Merriweather Sans', sans-serif;
        font-weight: 700;
        display:table-cell;
        vertical-align: middle;
        text-align: center;
    }
    .resp_bot p.avtive{
        color:#FFF;
    }
    ul{
        margin:0 auto;
        padding-top: 125px;
    }
    .persona *{
        font-size: 15px;
        font-weight: 400;
        line-height: 1.55;
    }
    .persona div span n{
        font-weight: 700;
        color:#515151;
    }
    .persona k{
        font-size: 18px;
        font-weight:700;
        color: #607d8b;
    }
    .persona div{
        padding-left:20px;
    }
</style>
<div class="login" ng-show="vm.showLogin">
    <div class="jesus"></div>
    <input type="text" name="textfield" class="textfield_03" placeholder="Usuario" ng-model="vm.credentials.username">
    <input type="password" name="textfield" class="textfield_03" placeholder="Contraseña" ng-model="vm.credentials.password">
    <input class="boton_login" type="button" value="Validar" ng-click="vm.login()">
</div>
<div class="fondo" ng-show="vm.showLists">
    <div class="resp_bot" ng-click="vm.showContactsList()"><p>INFORMACIÓN</p></div>
    <div class="resp_bot" ng-click="vm.showUsersList()"><p>APUNTADOS</p></div>
    <ul ng-show="vm.userListActive" ng-class="{'active':vm.userListActive}">
        <li ng-repeat="item in vm.users" class="persona"> <k>1. {{item.name}} {{item.surname}}</k>
            <div>
                <span><n>Fecha de nacimiento:</n> {{item.birthday}}</span> <n>-</n> <span><n>Edad:</n></span> 
            </div>
            <div>
                <span><n>Correo:</n> {{item.mail}}</span> <n>-</n> <span><n>Teléfono:</n> {{item.phone}}</span> 
            </div>

            <div>
                <span><n>Movimiento:</n> {{item.movement}}</span>
            </div>
            <div>
                <span><n>Invitado por:</n> {{item.invited}}</span>
            </div>
            <div>
                <span><n>Problemas con la comida:</n> {{item.problems}}</span>
            </div>
        </li>
    </ul>
    <ul ng-show="vm.contactListActive" ng-class="{'active':vm.contactListActive}">
        <!--<li class="persona"> <k>1. Hola k ase</k>
            <div>
                <span><n>Correo:</n></span>
            </div>
            <div>
                <span><n>Comentarios:</n></span>
            </div>
        </li>-->
        <li ng-repeat="item in vm.contacts" class="persona"> <k>1. {{item.name}}</k>
            <div>
                <span><n>Correo:</n> {{item.mail}}</span>
            </div>
            <div>
                <span><n>Comentarios:</n> {{item.comments}}</span>
            </div>
        </li>
    </ul>
</div>