<style>
    .fondo{
        filter:blur(10px);
    }
    .login{
        margin:200px auto;
        background-color: #f2f2f2;
        width:400px;
        height:280px;
        padding:25px;
        border-radius:30px;
        box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.25);
    }
    .jesus{
        margin:0 auto;
        margin-bottom: 20px;
        height:100px;
        width:100px;
        border-radius: 50%;
        background-image: url(../img/login.jpg);
        background-size: 135%;
        background-position: center;
        border: solid 6px #607d8b;
    }
    .textfield_03{
        display:block;
        margin:0 auto;
        margin-bottom: 10px;
        height: 23px;
        padding: 5px;
        width:300px;
        max-width: 500px;
        border:solid 1px #d2d2d2;
        background-color: #f8f8f8;
    }
    .boton_login{
        display:block;
        margin:0 auto;
        margin-top: 25px;
        width:310px;
        height:40px;
        border: solid 1px #607d8b;
        border-radius: 35px;
        background-color: #ffffff;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 16px;
        color: #607d8b;
        font-weight: 700;
        outline: 0;
        cursor:pointer;
    }
    .resp_bot{
        box-sizing: border-box;
        margin:0;
        width:50%;
        height:60px;
        border-bottom: solid 3px #607d8b;
        float: right;
        display:table;
        cursor: pointer;
    }
    .resp_bot.active{
        background-color: #607d8b;
        border: none;   
    }
    .resp_bot p{
        color:#607d8b;
        font-size: 25px;
        font-family: 'Merriweather Sans', sans-serif;
        font-weight: 700;
        display:table-cell;
        vertical-align: middle;
        text-align: center;
    }
    .resp_bot p.active{
        color:#FFF;
    }
    ul{
        margin:0 auto;
        padding-top: 125px;
    }
    ul span n{
        font-weight: 700;
        color:#607d8b;
        font-size:25px;
    }
    .persona *{
        font-size: 15px;
        font-weight: 400;
        line-height: 1.55;
    }
    .persona div span n{
        font-weight: 700;
        color:#515151;
    }
    .persona k{
        font-size: 18px;
        font-weight:700;
        color: #607d8b;
    }
    .persona div{
        padding-left:20px;
    }
    @media screen and (max-width: 768px) {
        .login{
            margin:0;
            background-color: #f2f2f2;
            width:100%;
            height:100%;
            padding:0;
            padding-top: 30px;
            padding-bottom: 30px;
            border-radius:0;
            box-shadow: none;
        }
        .jesus{
            margin:0 auto;
            margin-bottom: 30px;
            height:150px;
            width:150px;
            background-size: 145%;
            border: solid 8px #607d8b;
        }
        .textfield_03{
            margin:0 auto;
            width:80%;
            max-width: 350px;
            margin-bottom: 15px;
            height: 30px;
            padding: 8px;
        }
        .boton_login{
            margin:0 auto;
            margin-top: 30px;
            width:85%;
            max-width: 370px;
            height:60px;
            border-radius: 35px;
            font-size: 20px;
        }
        .resp_bot{
            width:100%;
            height:80px;
        }
        ul{
            padding-top: 200px;
        }
        li{
            padding-top: 2%;
            padding-left:5%;
            padding-right: 5%;
        }
        .persona *{
            font-size: 22px;
        }
        .persona k{
            font-size: 25px;
        }
    }
</style>
<div class="login" ng-if="vm.showLogin">
    <div class="jesus"></div>
    <input type="text" name="textfield" class="textfield_03" placeholder="Usuario" ng-model="vm.credentials.username">
    <input type="password" name="textfield" class="textfield_03" placeholder="Contraseña" ng-model="vm.credentials.password" ng-keypress="$event.keyCode === 13 ? vm.login() : 0">
    <input class="boton_login" type="button" value="Validar" ng-click="vm.login()">
</div>
<div class="fondo" ng-if="vm.showLists">
    <div class="resp_bot" ng-click="vm.showContactsList()"  ng-class="{'active':vm.contactListActive}"><p ng-class="{'active':vm.contactListActive}">{{ 'InfoMayus' | translate }}</p></div>
    <div class="resp_bot" ng-click="vm.showUsersList()" ng-class="{'active':vm.userListActive}"><p ng-class="{'active':vm.userListActive}">{{ 'Apuntados' | translate }}</p></div>
    <ul ng-if="vm.userListActive">
        <span><n>{{ 'TotalRegistered' | translate }}: </n></span><span><n>{{vm.users.length}}</n></span><br><br>
        <li ng-repeat="item in vm.users" class="persona"> <k>{{$index + 1}} {{item.name}} {{item.surname}}</k>
            <div>
                <span><n>{{ 'FechaNoFormat' | translate }}: </n> {{item.birth}}</span> <n>-</n> <span><n>{{ 'Edad' | translate }}:</n> {{item.age}}</span> 
            </div>
            <div>
                <span><n>{{ 'Mail' | translate }}: </n> {{item.email}}</span> <n>-</n> <span><n>{{ 'Tlf' | translate }}:</n> {{item.phone}}</span> 
            </div>

            <div>
                <span><n>{{ 'Movimiento' | translate }}: </n> {{item.group}}</span>
            </div>
            <div>
                <span><n>{{ 'InvitadoPor' | translate }}: </n> {{item.invitedBy}}</span>
            </div>
            <div>
                <span><n>{{ 'ProblemasComida' | translate }}: </n> <r ng-if="item.food.length === 0">No</r>
                    <r ng-if="item.food.length > 0" ng-repeat="food in item.food">
                        <span>{{food}}.</span>
                    </r></span>
            </div>
        </li>
    </ul>
    <ul ng-if="vm.contactListActive">
        <li ng-repeat="item in vm.contacts" class="persona"> <k>{{$index + 1}} {{item.name}}</k>
            <div>
                <span><n>{{ 'Mail' | translate }}:</n> {{item.email}}</span>
            </div>
            <div>
                <span><n>{{ 'Comentarios' | translate }}:</n> {{item.comment}}</span>
            </div>
        </li>
    </ul>
</div>